# Python Basics
Shehzeen Khan, J028
B.Tech Data Science, Semester 5

### How python flows?

* High level Python Code $\rightarrow$ Interpreter $\rightarrow$ Machine language

# 1. Variables

In [ ]:
myFirstVariable = 1
mySecondVariable = 'Test'

type(myFirstVariable), type(mySecondVariable)

(int, str)

In [ ]:
myFirstVariable = mySecondtVariable = 3

myFirstVariable, mySecondtVariable

(3, 3)

In [ ]:
myFirstVariable, mySecondtVariable = 3,4.2
myFirstVariable, mySecondtVariable

(3, 4.2)

In [ ]:
myFirstString = 'test' 
myFirstString = "test"
myFirstString = '''test''' #Multiline string

In [ ]:
fStringOne = f'variable is {myFirstVariable} and string is {myFirstString}' #used in print statement, logging, complex and repetative query execution
fStringOne

'variable is 3 and string is test'

In [ ]:
a = 1
b = a
a,b

(1, 1)

In [ ]:
a = 2
a,b

(2, 1)

In [ ]:
del a

In [ ]:
print(fStringOne)

variable is 3 and string is test

In [ ]:
def some_function():
    test = False #variable with local scope
    
print(test) #can't be accessed

NameError: name 'test' is not defined

In [ ]:
test = True
print(test)
def some_function():
    global test
    test = False #variable with global scope
    
some_function()
print(test) #value of variable is changed

True
False

In [ ]:
type(test)

bool

In [ ]:
#arithmatic operations

1//3, 1*10, 2**2, 2-2, 2+2, 10/5, 7%2

(0, 10, 4, 0, 4, 2.0)

In [ ]:
# string operations
'A' + 'B'

"a"*3

fStringOne[-2:]

x = fStringOne[-2:] 
x

len(fStringOne) #length

fStringOne.find('r') #string operations

int('5') #typecasting

'AB'

In [ ]:
#Sets

firstSet = {2,5,1,6,3,22,-3,5}
firstSet

{-3, 1, 2, 3, 5, 6, 22}

In [ ]:
firstSet.

## Homework: Explore all set operations and print results in a neat format

# Ternary operator

[If True] if [Expression] Else [if False]

In [ ]:
val = True if test else False 

val

False

In [ ]:
# single line comment
# multi
# line
# comments

## Expressions:

* Equality ==
* Not equal !=
* Comparison >, <, >=, <=

## Functions

In [ ]:
def my_new_func(x, flag = True):
    '''
    This is a doctsring. It gives information abput the function.
    This function prints stuff
    
    Arguments:
    x: Object to be printed
    '''
    if flag:
        print(f'test print {x}')
        
    else:
        print('Flag is set to false')
    
# my_new_func('a')

In [ ]:
len('hello')

5

In [ ]:
my_new_func('test', flag = False)

Flag is set to false

In [ ]:
def new_func_2(a,b):
    if b == 0:
        return 'Invalid input for b'
    else:
        return a/b

new_func_2(1,1)

1.0

In [ ]:
def new_func_3(a,b):
    try:
        c = a/b
    except Exception as e:
        print(e)
        print('Value of b cannot be zero')

new_func_3(1,0)
new_func_2(1,1)

division by zero
Value of b cannot be zero

1.0

In [ ]:
def new_func_4(*args, **kwargs):
    print(args)
    print(kwargs)
    print(args[0])
    print(kwargs.get('a'))

In [ ]:
alpha = 'alpha'
beta = 'beta'
new_func_4(alpha, beta, a=1, b=2)

('alpha', 'beta')
{'a': 1, 'b': 2}
alpha
1

In [ ]:
def new_func_5(a,b):
    return a,b

x,y = new_func_5(2,3)
x,y

(2, 3)

## Lambda expressions

### format: variable = lambda arguments: expression

* Single expression anonymous function
* inline function

In [ ]:
my_lambda = lambda x,y,z : (x - 100 + y - z)*2**3
my_lambda(100,2,3)

-8

## Loops and conditionals

In [ ]:
input1 = 10
while input1 > 0:
    print(input1)
    input1 -= 1

10
9
8
7
6
5
4
3
2
1

In [ ]:
for i in range(-3,10):
    print(i)

-3
-2
-1
0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in 'dghvhsg':
    print(i)

d
g
h
v
h
s
g

In [ ]:
def factorial(n):
    if n==0:
        return 1
    else:
        return n * factorial(n-1)

In [ ]:
factorial(5)

120

## Homework: Write a recursive function for a fibonacci series

## Collections

* lists, tuples, dictionaries

In [ ]:
my_list = ['A', 'B', 1, 2.5]
my_tuple = ('f', 'm', 1)

In [ ]:
my_dictionary = {'a': 1, 'b': 2}
my_dictionary['a']

1

In [ ]:
my_list_2 = [] #empty list
my_list_2.append(2)
my_list_2.extend(['A', 'B', 1, 2.5])

my_list_3 = list(('A', 'B', 1, 2.5)) #convert tuple/set to list

my_list_2, my_list_3

([2, 'A', 'B', 1, 2.5], ['A', 'B', 1, 2.5])

In [ ]:
my_dictionary_2 = dict()
my_dictionary_2['test'] = 4
my_dictionary_2
my_dictionary_2['test2'] = 5
my_dictionary_2
my_dictionary_2['test3'] = 6
my_dictionary_2

{'test': 4, 'test2': 5, 'test3': 6}

In [ ]:
# loop over dictionary
for key in my_dictionary_2:
    print(key, my_dictionary_2[key])

test 4
test2 5
test3 6

In [ ]:
#loop over 2 lists

list1 = [1,2,3,4,5]
list2 = [0,9,8,7,6]

for x,y in zip(list1, list2):
    print(x,y)

1 0
2 9
3 8
4 7
5 6

In [ ]:
#get index in loop

for x,y in enumerate(list1):
    print(x,y)

0 1
1 2
2 3
3 4
4 5

## Object oriented Design - Classes

In [ ]:
class MyClass:
    def __init__(self, x):
        self.x = x
        
    def MyClassFunction(self): #self = reference to the object
        return self.x
    
m = MyClass(10)
m.MyClassFunction()

10

In [ ]:
a,b = 5,6
c = [a,b]
print(c)
a,b = 5,7
print(c)

[5, 6]
[5, 6]

# Read/Write

In [ ]:
test = input()

Python is an interpreted high-level general-purpose programming language. Python's design philosophy emphasizes code readability with its notable use of significant indentation. Its language constructs as well as its object-oriented approach aim to help programmers write clear, logical code for small and large-scale projects.

In [ ]:
with open('text_file.txt', 'w') as my_file:
    my_file.write(test)

In [ ]:
with open('text_file.txt', 'r') as my_file:
    for line in my_file:
        print(line)

Python is an interpreted high-level general-purpose programming language. Python's design philosophy emphasizes code readability with its notable use of significant indentation. Its language constructs as well as its object-oriented approach aim to help programmers write clear, logical code for small and large-scale projects.